<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.ico') }}">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='bootstrap/bootstrap-4.1.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template's dashboard -->
    <link href="{{ url_for('static',filename='bootstrap/signin.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
      
      {%block content %} {% endblock %}
      
  </body>
</html>
