<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static',filename='img/favicon.ico')}}">

    <title>Blockcerts Plug-in</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.min.js">
    </script>
    <link rel="import" href="{{url_for('static',filename='bower_components/blockchain-certificate/blockchain-certificate.html')}}">
    <link rel="import" href="{{url_for('static',filename='bower_components/blockchain-certificate/validate-certificate.html')}}">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap/bootstrap-4.1.3-dist/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template's dashboard -->
    <link href="{{url_for('static',filename='bootstrap/dashboard.css')}}" rel="stylesheet">

    <!-- Link to google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>


  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Blockcerts Plug-in</a>
      
      <ul class="navbar-nav px-3">
        <!--
        <li class="nav-item">
          <h1> {{ current_user.username }} </h1>
        </li>-->
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a id="home" class="nav-link active" href="{{ url_for('index') }}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              
              <li class="nav-item">
                <a id ="issue" class="nav-link" href="{{ url_for('issue') }}">
                  <span data-feather="chevron-right"></span>
                  Issue certificates
                </a>
              </li>
              <li class="nav-item">
                <a id="revoke" class="nav-link" href="#">
                  <span data-feather="chevron-right"></span>
                  Revoke certificates
                </a>
              </li>
              <li class="nav-item">
                <a id="validate" class="nav-link" href="#">
                  <span data-feather="chevron-right"></span>
                  Validate certificates
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>App Management</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="settings"></span>
                  Settings
                </a>
              </li>
            </ul>
          </div>
        </nav>

        {%block content %} {% endblock %}

      </div>
    </div>
     

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static',filename='bootstrap/assets/js/vendor/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/bootstrap-4.1.3-dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='resources/js/app.js')}}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>
