{% extends 'base.html' %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="dashboardPane">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Share</button>
          <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
      </div>
    </div>

    <p>... blockchain certificates issued to date.</p>

    <br><br><br>

    <div class="card-deck">

      <div class="col-sm-4">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">ISSUE</h5>
            <p class="card-text">Issue academic certicates securely on the blockchain.</p>
            <a href="{{ url_for('issue') }}">Click to issue</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">REVOKE</h5>
            <p class="card-text">Revoke blockchain certificates already issued.</p>
            <a href="{{ url_for('revoke') }}">Click to revoke</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">VALIDATE</h5>
            <p class="card-text">Validate the authenticity of blockchain certificates.</p>
            <a href="{{ url_for('validate') }}">Click to validate</a>
          </div>
        </div>
      </div>

    </div>
    <br>
    <a href="{{ url_for('reports') }}">Click here to view reports</a><br>
    <a href="{{ url_for('settings') }}">Click here to manage settings</a>

  </main>
{% endblock %}