{% extends 'base.html' %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="CertificateIssuingPane">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Issue certificates</h1>
    </div>
    <p>Upload the csv file with the batch or graduants to receive certificates.</p>

    <div id="issueCertsBody"  class="card w-75 border-0 mx-auto" style="text-align: center">
      <div class="card-body">

        <div id="showIssueBtn" style="display: block">
          <i class="material-icons" style="font-size:190px;color:gray">publish</i>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <!--file upload flask form-->
          <form method="POST" enctype="multipart/form-data" action="{{ url_for('issue') }}">
              <!-- the followig protects against CSRF-->
              {{ form.hidden_tag() }}
              {{ form.graduants(class="btn-light") }}<br><br>
              <button class="btn btn-lg btn-secondary btn-block" id="issue-btn" type="submit">Issue Certificates</button>
          </form>
        </div>

        <div id="showIssueProgress" style="display: none">
          <!--split progress bar into 5 parts of 20% each-->
          <div class="progress progress-striped active">
            <div class="bar" id="cert-issuing-progress" style="width: 0%;"></div>
          </div>
          <p id="issuing-status"></p>
          
          <!--add modal for to prompt user to switch internet on and off-->
          <div id="toggle-internet-modal" class="modal hide fade">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
              <h3>Attention: Turn internet on/off</h3>
            </div>
            <div class="modal-body">
              
            </div>
          </div>

        </div>
        
      </div>
    </div>


  </main>
{% endblock %}