{% extends 'app_access_base.html' %}
  
{% block content %}
  <form class="form-signin" action="{{ url_for('login') }}" method="post" novalidate>
    
    <img class="mb-4" src="{{url_for('static', filename='img/bootstrap-solid.svg')}}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p><span style="color: red;"> {{ msg }} </span></p>
        {% endfor %}
    {% endif%}
    {% endwith %}
    
    {{ form.hidden_tag() }}

    {{ form.email(id="inputEmail", class="form-control", placeholder="Email Address") }}
    {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{ form.password(id="inputPassword", class="form-control", placeholder="Password") }}
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <div class="checkbox mb-3">
          <label>
            {{ form.remember_me(value=remember_me) }} {{ form.remember_me.label }}
          </label>
    </div>

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
 
    <a href="{{ url_for('register') }}">New user? Click here to register</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

  </form>

{% endblock %}