<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static',filename='img/favicon.ico')}}">

    <title>Blockcerts Plug-in</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.min.js">
    </script>
    <link rel="import" href="{{url_for('static',filename='bower_components/blockchain-certificate/blockchain-certificate.html')}}">
    <link rel="import" href="{{url_for('static',filename='bower_components/blockchain-certificate/validate-certificate.html')}}">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='bootstrap/bootstrap-4.1.3-dist/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template's dashboard -->
    <link href="{{url_for('static',filename='bootstrap/dashboard.css')}}" rel="stylesheet">

    <!--select 2 bootstrap template for searchable dropdown-->
    <!--
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>-->

    <!-- Link to google icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>


  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Blockcerts Plug-in</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <h1> {{ current_user.username }} </h1>
              </li>
              <li class="nav-item">
                <a id="home" class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              
              <li class="nav-item">
                <a id ="issue" class="nav-link" href="#">
                  <span data-feather="chevron-right"></span>
                  Issue certificates
                </a>
              </li>
              <li class="nav-item">
                <a id="view" class="nav-link" href="#">
                  <span data-feather="chevron-right"></span>
                  Certificate viewing
                </a>
              </li>
              <li class="nav-item">
                <a id="validate" class="nav-link" href="#">
                  <span data-feather="chevron-right"></span>
                  Certificate validation
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
            </ul>
          </div>
        </nav>



          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="dashboardPane" style="display: none">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Dashboard</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button class="btn btn-sm btn-outline-secondary">Share</button>
                  <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
              </div>
            </div>

            <p>... blockchain certificates issued to date.</p>

            <br><br><br>

            <div class="card-deck">

              <div class="col-sm-4">
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">ISSUE</h5>
                    <p class="card-text">Issue academic certicates securely on the blockchain.</p>
                    <button id="issuebtn" class="btn btn-secondary">Click to issue</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">VIEW</h5>
                    <p class="card-text">Display blockchain certificates issued to students.</p>
                    <button id="viewbtn" class="btn btn-secondary">Click to view</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">VALIDATE</h5>
                    <p class="card-text">Validate the authenticity of blockchain certificates.</p>
                    <button id="validatebtn" class="btn btn-secondary">Click to validate</button>
                  </div>
                </div>
              </div>

            </div>

          </main>


          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="CertificateIssuingPane" style="display: none">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Issue certificates</h1>
            </div>

            <div id="issueCertsBody"  class="card w-75 border-0 mx-auto" style="display: block; text-align: center">
              <div class="card-body">

                <i class="material-icons" style="font-size:190px;color:gray">publish</i>

                <!--Select the excel sheet with details for certification (collect and pass to certificate issuer)!!!!show error and success messages as modals.
                <p>Select the csv file with students to be certified on the blockchain.</p>
                -->


                <!--file upload!!!!!!!!!!!!!!!!!!!!!!!!-->
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('index') }}">
                    <!-- the followig protects against CSRF-->
                    {{ form.hidden_tag() }}
                    {{ form.graduants(class="btn-light") }}<br><br>
                    <button class="btn btn-lg btn-secondary btn-block" type="submit">Issue Certificates</button>
                </form>
                
                
              </div>
            </div>


          </main>


          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="CertificateViewingPane" style="display: none">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Certificate viewing</h1>
            </div>


            <div id="searchCertsToViewBody"  class="card w-75 border-0 mx-auto" style="display: none; text-align: center">
              <div class="card-body">

                <i class="material-icons" style="font-size:190px;color:gray">search</i>
                <p>Select the ID of the blockhain certificate to be viewed</p>
               

               <!--
                    <select class="js-example-responsive" name="studentToView" size="0" id="studentToView" required>
                    -->
                    <select class="form-control" name="blockcertToView" size="0" id="blockcertToView" required>
                        <option value="" >Enter the ID of the blockchain certificate</option>
                        <option value="blockcert_file_name_1" >blockcert ID 1</option>
                        <option value="blockcert_file_name_2" >blockcert ID 2</option>
                        <option value="blockcert_file_name_3" >blockcert ID 3</option>
                        <option value="blockcert_file_name_4" >blockcert ID 4</option>
                        <option value="blockcert_file_name_5" >blockcert ID 5</option>
                        <option value="blockcert_file_name_6" >blockcert ID 6</option>
                        <option value="blockcert_file_name_7" >aabb 7</option>
                        <option value="blockcert_file_name_8" >aac 1</option>
                        <option value="blockcert_file_name_9" >ccc 3</option>
                        <option value="blockcert_file_name_10" >ccfgh 5</option>
                        <option value="blockcert_file_name_11" >blkcert 6</option>
                        <option value="blockcert_file_name_12" >blkcert 7</option>       
                    </select>
              </div>         
            </div>

            <div id="certViewingContainer"  class="mx-auto" style="display: block; text-align: center">  
                  <blockchain-certificate href="../static/blockchain_certificates/bdd2048c-5926-40a4-a595-d097859266e8.json">
                  </blockchain-certificate>      
            </div>


          </main>



          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="CertificateValidationPane" style="display: block">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Certificate validation</h1>              
            </div>

            <!--Select the title of the certificate to be validated (and then create this validate certificate html in javascript). Selection options to be javascripted-->

            <br><br><br>

            <div id="certToVerify" style="display: none; text-align: center">
              <div class="card-deck">

                 <div class="col-sm-6">
                  <div class="card" >
                    <div class="card-body">
                      <i class="material-icons" style="font-size:190px;color:gray">check</i>
                      <p>Upload the blockchain certificate to verify (as a .json file)</p>
                      
                      <!--file upload!!!!!!!!!!!!!!!!!!!!!!!!-->
                      <div id="bcert-upload-container">
                        <div id="bcert-upload-choose-container">
                          <input type="file" id="bcert-upload-file" accept="application/json" />
                          <button id="bcert-choose-upload-button" class="btn btn-secondary">Choose blockcert to verify</button>
                        </div>
                        <div id="bcert-upload-file-final-container">
                          <span id="bcert-file-name" class="text-dark"></span><button id="bcert-upload-button" class="btn btn-dark">Upload blockcert</button><button id="bcert-cancel-button" class="btn btn-light">Cancel</button>
                        </div>
                        <div id="bcert-upload-progress"><span id="bcert-upload-percentage"></span> % uploaded</div>
                        <div id="bcert-error-message" class="bcert-text-danger"></div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <i class="material-icons" style="font-size:190px;color:gray">check</i>                      
                      <p>Enter the url of the blockchain certificate to verify</p>
                      
                      <div class="form-inline mx-auto">
                        <input class="form-control mb-2 mr-sm-2 col-sm-10" type="text" name="blockcert_url" id="blockcert_url" placeholder="blockcert url" required />
                        <button class="btn btn-secondary mb-2 cols-sm-2">Verify</button>      
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div id="certVerificationReport"  class="mx-auto" style="display: block; text-align: center">  
              <validate-certificate>
                  <!--<blockchain-certificate href="../static/bower_components/blockchain-certificate/demo/sample_signed_cert-valid-1.2.0.json">-->
                <blockchain-certificate href="../static/blockchain_certificates/bdd2048c-5926-40a4-a595-d097859266e8.json">
                </blockchain-certificate>
              </validate-certificate>
            </div>

          </main>



          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="ReportsPane" style="display: none">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Reports</h1>
              
            </div>
          </main>

      </div>
    </div>

    <script>
        /*$('#blockcertToView').select2({
            placeholder: 'Select blockcert'
        });*/
     </script>
     

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static',filename='bootstrap/assets/js/vendor/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/bootstrap-4.1.3-dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='resources/js/app.js')}}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>
