{% extends 'app_access_base.html' %}
  
{% block content %}
  <form class="form-signin" action="{{ url_for('register') }}" method="post" novalidate>

    <img class="mb-4" src="{{url_for('static', filename='img/bootstrap-solid.svg')}}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    {{ form.hidden_tag() }}

    {{ form.username(id="inputUsername", class="form-control", placeholder="Username") }}
    {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    
    {{ form.email(id="inputEmail", class="form-control", placeholder="Email Address") }}
    {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{ form.password(id="inputPassword", class="form-control", placeholder="Password") }}
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{ form.password2(id="inputPassword2", class="form-control", placeholder="Confirm Password") }}
    {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    
  </form>

{% endblock %}