{% extends 'base.html' %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="ReportsPane">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Reports</h1>
      
    </div>
  </main>
{% endblock %}