{% extends 'base.html' %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="CertificateIssuingPane">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Revoke certificate</h1>
    </div>

    <div id="revokeCertsBody"  class="card w-75 border-0 mx-auto" style="display: block; text-align: center">
      <div class="card-body">

        <div id="showRevokeBtn" style="display: block">
          <i class="material-icons" style="font-size:190px;color:gray">publish</i>

          <!--Either revoke from csv file or from form which requires assertion and reason-->

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                  {% for message in messages %}
                    <li>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <!--file upload flask form-->
          <form method="POST" enctype="multipart/form-data" action="{{ url_for('index') }}">
              <!-- the followig protects against CSRF-->
              {{ form.hidden_tag() }}
              {{ form.graduants(class="btn-light") }}<br><br>
              <button class="btn btn-lg btn-secondary btn-block" type="submit">Revoke Certificates</button>
          </form>
        </div>

        <div id="showRevokeProgress" style="display: none">
          <!--add progress bar-->
          <!--add modal for usb prompts-->
        </div>
        
      </div>
    </div>


  </main>
{% endblock %}