{% extends 'base.html' %}

{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="CertificateValidationPane">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Certificate validation</h1>              
    </div>

    <!--Select the title of the certificate to be validated (and then create this validate certificate html in javascript). Selection options to be javascripted-->

    <br><br><br>

    <div id="certToVerify" style="display: block; text-align: center">
      <div class="card-deck">

         <div class="col-sm-6">
          <div class="card" >
            <div class="card-body">
              <i class="material-icons" style="font-size:190px;color:gray">check</i>
              <p>Upload the blockchain certificate to verify (as a .json file)</p>
              
              <!--file upload!!!!!!!!!!!!!!!!!!!!!!!!-->
              <div id="bcert-upload-container">
                <div id="bcert-upload-choose-container">
                  <input type="file" id="bcert-upload-file" accept="application/json" />
                  <button id="bcert-choose-upload-button" class="btn btn-secondary">Choose blockcert to verify</button>
                </div>
                <div id="bcert-upload-file-final-container">
                  <span id="bcert-file-name" class="text-dark"></span><button id="bcert-upload-button" class="btn btn-dark">Upload blockcert</button><button id="bcert-cancel-button" class="btn btn-light">Cancel</button>
                </div>
                <div id="bcert-upload-progress"><span id="bcert-upload-percentage"></span> % uploaded</div>
                <div id="bcert-error-message" class="bcert-text-danger"></div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <i class="material-icons" style="font-size:190px;color:gray">check</i>                      
              <p>Enter the url of the blockchain certificate to verify</p>
              
              <div class="form-inline mx-auto">
                <input class="form-control mb-2 mr-sm-2 col-sm-10" type="text" name="blockcert_url" id="blockcert_url" placeholder="blockcert url" required />
                <button class="btn btn-secondary mb-2 cols-sm-2">Verify</button>      
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="certVerificationReport"  class="mx-auto" style="display: none; text-align: center">  
      <validate-certificate>
          <!--<blockchain-certificate href="../static/bower_components/blockchain-certificate/demo/sample_signed_cert-valid-1.2.0.json">-->
        <blockchain-certificate href="../static/blockchain_certificates/bdd2048c-5926-40a4-a595-d097859266e8.json">
        </blockchain-certificate>
      </validate-certificate>
    </div>

  </main>
{% endblock %}